%p{:style => "color: green"}= notice
%h1 Услуги:
= link_to "New service", new_service_path, class: "btn btn-lg btn-outline-primary my-3"
#services
  - @services.each do |service|
    = render service
= link_to "New service", new_service_path, class: "btn btn-lg btn-outline-primary my-3"
