.row
  .col
    %h1 Услуга:
    %p{:style => "color: green"}= notice
    = render @service
    .my-3
      = link_to "Back to services", category_services_path(@category), class: "btn btn-lg btn-outline-primary"
