.row.m-1.bg-light{:id => "#{dom_id user}"}
  .col
    %strong= link_to user.name, user_path(user)
  .col.d-inline-flex
    = link_to "edit", edit_user_path(user), class: "btn btn-sm btn-outline-warning mx-1"
    = button_to "delete", user, method: :delete, class: "btn btn-sm btn-outline-danger mx-1"
