%h1 Editing user
= render "form", user: @user
.mb-3
  = link_to "Back", @user, class: "btn btn-sm btn-outline-primary"
  = link_to "Back to users", users_path, class: "btn btn-sm btn-outline-primary"
