%h1 Pages#index
.row
  .col
    %p Find me in app/views/pages/index.html.erb
    %button.btn.btn-lg.btn-danger{"data-bs-content" => "Amazing content, right ?", "data-bs-toggle" => "popover", :title => "Popover title", :type => "button"}
      Click to toggle popover
